ETCDCTL_API=3
ETCDCTL_ENDPOINTS=https://{{ hostvars[groups['etcd_master'][0]].ansible_host }}:2379
#ETCD_CLIENT_DEBUG=1
ETCDCTL_CERT_FILE=/etc/data-acc/pki/{{ inventory_hostname }}.pem
ETCDCTL_KEY_FILE=/etc/data-acc/pki/{{ inventory_hostname }}-key.pem
ETCDCTL_CA_FILE=/etc/data-acc/pki/ca.pem
DAC_ANSIBLE_DIR={{data_acc_install_dir}}/{{data_acc_name}}/fs-ansible/
#DAC_SKIP_ANSIBLE=True
DAC_HOST_GROUP=dac-fake
DEVICE_COUNT=5
DAC_POOL_NAME=default
DAC_DEVICE_CAPACITY_GB=1600
DACCTL_LOG=/var/log/dacctl.log
#DAC_LNET_SUFFIX="-opa@o2ib1"
DEVICE_TYPE="loop%d"
DAC_MDT_SIZE="20%"
