[Unit]
Description=data-acc-brick-host
ConditionPathExists=/home/centos/data-acc-brick-host
After=network.target

[Service]
Type=simple
User=centos
Group=centos
Restart=on-failure
RestartSec=10

WorkingDirectory=/home/centos
Environment=ETCDCTL_ENDPOINTS=slurm-master:2381
ExecStart=/home/centos/data-acc-brick-host

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=data-acc-brick-host

[Install]
WantedBy=multi-user.target
