ETCDCTL_API=3
ETCDCTL_ENDPOINTS=https://localhost:2379
#ETCD_CLIENT_DEBUG=1
ETCDCTL_CERT_FILE=/etc/data-acc/pki/{{ansible_fqdn}}.pem
ETCDCTL_KEY_FILE=/etc/data-acc/pki/{{ansible_fqdn}}-key.pem
ETCDCTL_CA_FILE=/etc/data-acc/pki/ca.pem
